.header__logo {
  height: 33px;
  width: 142px;
}

@media screen and (min-width: 320px) and (max-width: 900px) {
  .header__logo {
    height: 24.4px;
    width: 103.74px;
    margin-left: 27px;
  }
  
}