.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: rgba(255, 255, 255, 1);
  max-width: 294px;
  margin: 0;
  margin-right: 19px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 900px) {
  .profile__name {
    max-width: 189px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin-right: 0;
    display: block;
    
  }

}