@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/content/content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__card/profile__card.css);
@import url(./blocks/profile/__about/profile__about.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__button-delete/card__button-delete.css);
@import url(./blocks/card/__button-like/card__button-like.css);
@import url(./blocks/card/__button-like/_active/card__button-like_active.css);
@import url(./blocks/card/__container/card__container.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_opacity/_opacity.css);
@import url(./blocks/popup/__zoom-image-container/popup__zoom-image-container.css);
@import url(./blocks/popup/__zoom-image/popup__zoom-image.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_data/popup__input_data_about.css);
@import url(./blocks/popup/__input/_data/popup__input_data_name.css);
@import url(./blocks/input-error-style/input-error-style.css);
@import url(./blocks/popup/__input/_validity/popup__input_validity_invalid.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__save-button/_disabled/popup__save-button_disabled.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__title/_confirm-delete/popup__title_confirm-delete.css);
@import url(./blocks/popup/__title/_center/popup__title_center.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/card/__button-like-container/card__button-like-container.css);
@import url(./blocks/card/__button-like-counter/card__button-like-counter.css);
@import url(./blocks/registration/__button/registration__button.css);
@import url(./blocks/registration/__form/registration__form.css);
@import url(./blocks/registration/__input/registration__input.css);
@import url(./blocks/registration/__login-link/registration__login-link.css);
@import url(./blocks/registration/__sign-in/registration__sign-in.css);
@import url(./blocks/registration/__title/registration__title.css);
@import url(./blocks/registration/__login-text/registration__login-text.css);
@import url(./blocks/popup/__success/popup__success.css);
@import url(./blocks/popup/__success/_no/popup__success_no.css);
@import url(./blocks/popup/__success/_yes/popup__success_yes.css);